@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




body {
  @apply bg-gray-100;
  max-width: 1400px;
  margin: 0 auto; 
}


body {
  background-color: #F0F0F0;
}
