@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        src: url('../assets/fonts/Gilroy-Thin.ttf') format('ttf');
        font-weight: 200;
    }
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        src: url('../assets/fonts/Gilroy-Regular.ttf') format('ttf');
        font-weight: 400;
    }
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        src: url('../assets/fonts/Gilroy-Medium.ttf') format('ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        src: url('../assets/fonts/Gilroy-SemiBold.ttf') format('ttf');
        font-weight: 600;
    }
    @font-face {
        font-family: 'Gilroy';
        font-style: normal;
        src: url('../assets/fonts/Gilroy-Bold.ttf') format('ttf');
        font-weight: 700;
    }
}

body {
    @apply bg-gray-100;
    margin: 0 auto;
}
