/* 
.container {
  background-color: white;
  border-radius: 1.5rem;
  padding: 2.25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.slide {
  background-color: #d1e7ff;
  padding: 1.25rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.starActive {
  color: #ff0;
}

.starInactive {
  color: #ccc;
}

.text {
  color: #4b5563;
} */
