.header_nav .link_active{
    background-color: #FFAEAD;
    color: #fff;
}
.header_logo{
    width: 100%;
    height: 100%;
}
@media (max-width: 1280px) {
    .header_nav{
        margin: 0 20px !important;
    }
}
@media (max-width: 770px) {
    .w_100p{
        width: 90%;

    }
}
